* {
	font-family: 'Roboto', sans-serif;
}

.info {
	padding-top:10%;
}
.icono {
	margin-right:7%;
	font-size:25px;
}
.nombre {
	text-align:center;
}
.joined{
	background-color:#EAEAEA;
	padding-top:4%;
	height:100%;
	width:80%;
	margin-left:10%;
}