* {
	font-family: 'Roboto', sans-serif;
}
.info {
	padding-top:10%;
}
.icono {
	margin-right:7%;
	font-size:25px;
}
.nombre {
	text-align:center;
}
.joined{
	background-color:#EAEAEA;
	padding-top:4%;
	height:100%;
	width:80%;
	margin-left:10%;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

}