.header {
	text-align:center;
}
hr {
	border:0,5px solid black;
}

.btn-next {
	background-color:#FF00BF;
	border-radius:0px;
	margin-top:25%;
	padding:6%;
	color:whitesmoke;
}
.glyphicon-chevron-left{
	float: left;
	margin-top:10%;
}
.sms {
	margin-left:10%;
	margin-top:4%;
}

.modal {
	padding:5%; 
}
.radio {
	margin-top:4%;
	margin-left:3%;
}
.modalcountry{
	text-align: center;
}
.btn-default{
	position:inline-block;
}